* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("./fonts/GilroyBold/gilroy-bold-webfont.woff2") format("woff2"),
    url("./fonts/GilroyBold/gilroy-bold-webfont.woff") format("woff");  
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("./fonts/GilroyMedium/gilroy-medium-webfont.woff2") format("woff2"),
    url("./fonts/GilroyMedium/gilroy-medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "Gilroy Regular";
    src: url("./fonts/GilroyRegular/Gilroy-Regular.woff2") format("woff2"),
    url("./fonts/GilroyRegular/Gilroy-Regular.woff") 
    format ("woff");
}

body {
    font-family: "Gilroy Bold";
    width: 100%;
    max-width: 1920px;
    
}

.container {
    display: block;
    margin: auto;
    
}

.top {
    padding-bottom: 96px;
}

.header {
    margin-top: 40px;
    margin-left: 375px;
    margin-right:375px;
    display: flex;
    justify-content: space-between;
    
}

.header__logo {
    padding-right:250px;
    display: flex;
}

.home {
    text-decoration: none;
    color: #F24822;
    padding: 5px;
    
}

.header__link {
    filter: drop-shadow(0 4 4px #000000);
    text-decoration: none;
    color: #000000;
    padding: 5px;
    
}

.header__links {
    display: flex;
    padding-left: 250px;
    padding-top: 11px;
    padding-bottom: 12px;

}

.top__info {
    margin-right: 20px;
}

.content__logo {
    margin-left: 20px;
}

.top__content {
    display: flex;
    margin-top: 84px;
    margin-bottom: 162px;
    margin-left: 373px;
    margin-right: 375px;
}

.title {
    margin-bottom: 17px;
    font-size: 60px;
    color:#000000;
    
}

.text {
    font-family: "Gilroy Medium";
    color: #888888;
    font-size: 20px;
    margin-bottom: 37px;
    padding-right: 56px;
}

.top__buttons {
    margin-top: 37px;
}

.button1 {
  background-color: #F25822;
  color: #FFFFFF;
  font-size: 15px;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 35px;
  padding-right: 36px;
  border: none;
  font-family: "Gilroy Bold";
  
}

.button2 {
    background-color: #FFFFFF;
    color: #AAAAAA;
    font-size: 15px;
    margin-left: 72px;
    border: none;
    font-family: "Gilroy Bold";
}

.top__logos {
    padding-top: 97px;
    padding-left: 345px;
    padding-right: 375px;
    display: flex;
    justify-content: space-between;
}


.main__top {
    background-color: #FFFFFF;
    display: flex;
    
}

.business {
    margin-top: 140px;
    margin-left: 404px;
    margin-right: 61px;
    margin-bottom: 125px;
}

.quality {
    margin-top: 100px;
    margin-right: 59px;
    margin-bottom: 100px;
    padding-left: 29px;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.quality__image {
    margin-top: 40px;
}

.sales {
    margin-top: 140px;
    margin-right: 404px;
    margin-bottom: 125px;
}

.main__basic {
    background-color: #FAFAFA;
}

.description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.services {
    display: flex;
    justify-content: center;
}

.main__title {
    font-size: 24px;
    padding-top: 25px;
}

.main__desc {
    font-family: "Gilroy Regular";
    font-size: 15px;
    color: #666666;
    padding-top: 17px;
    width: 310px;
}


.button__features {
    font-family: "Gilroy Bold";
    font-size: 11px;
    border: none;
    background-color: white;
    padding-top: 25px;
}

.basic__title {
    font-size: 45px;
    margin-top: 92px;
    margin-left: 670px;
    margin-right: 671px;
    margin-bottom: 19px;
}

.basic__desc {
    font-family: "Gilroy Regular";
    font-size: 16px;
    color: #666666;
    margin-left: 619px;
    margin-right: 619px;
    margin-bottom: 55px;
    width: 682px;
    text-align: center;
}

.keyword__research {
   margin-left: 375px;
   margin-bottom: 100px;
   margin-right: 30px;
   background-color: #FFFFFF;
}

.seo__optimizadion {
    background-color: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 100px;
}

.social__marketing {
    background-color: #FFFFFF;
    margin-right: 375px;
    margin-bottom: 100px;
}

.service__title {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 22px;
    text-align: center;
}

.service__desc {
    font-family: "Gilroy Regular";
    color: #AAAAAA;
    font-size: 15px;
    padding-bottom: 39px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.service__button {
    font-family: "Gilroy Bold";
    background-color: #F25822;
    color: #FFFFFF;
    font-size: 13px;
    border: none;
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 46px;
    padding-right: 36px;
    margin-left: 100px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 8px 6px rgba(242, 88 , 34, 0.2);

}

.fa-angle-right {
padding-left: 6px;
}