* {
    margin: 0;
    padding: 0;
}

.top {
    padding-bottom: 96px;
}

.header {
    padding-top: 40px;
    margin-bottom: 84px;
}

.top__content {
    margin-top: 84px;
    margin-bottom: 162px;
}

.title {
    margin-bottom: 17px;
}

.top__buttons {
    margin-top: 37px;
}