* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("./fonts/GilroyBold/gilroy-bold-webfont.woff2") format("woff2"),
    url("./fonts/GilroyBold/gilroy-bold-webfont.woff") format("woff");  
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("./fonts/GilroyMedium/gilroy-medium-webfont.woff2") format("woff2"),
    url("./fonts/GilroyMedium/gilroy-medium-webfont.woff") format("woff");
}

body {
    font-family: "Gilroy Bold";
    max-width: 1920px;
    
}

.container {
    display: block;
    margin: auto;
    
}

.top {
    padding-bottom: 96px;
}

.header {
    margin-top: 40px;
    margin-left: 375px;
    margin-right:375px;
    display: flex;
    justify-content: space-between;
    
}

.header__logo {
    padding-right:250px;
    display: flex;
}

.home {
    text-decoration: none;
    color: #F24822;
    padding: 5px;
    
}

.header__link {
    filter: drop-shadow(0 4 4px #000000);
    text-decoration: none;
    color: #000000;
    padding: 5px;
    
}

.header__links {
    display: flex;
    padding-left: 250px;
    padding-top: 11px;
    padding-bottom: 12px;

}

.top__info {
    margin-right: 20px;
}

.content__logo {
    margin-left: 20px;
}

.top__content {
    display: flex;
    margin-top: 84px;
    margin-bottom: 162px;
    margin-left: 373px;
    margin-right: 375px;
}

.title {
    margin-bottom: 17px;
    font-size: 60px;
    color:#000000;
    
}

.text {
    font-family: "Gilroy Medium";
    color: #888888;
    font-size: 20px;
    margin-bottom: 37px;
    padding-right: 56px;
}

.top__buttons {
    margin-top: 37px;
}

.button1 {
  background-color: #F25822;
  color: #FFFFFF;
  font-size: 15px;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 35px;
  padding-right: 36px;
  border: none;
  font-family: "Gilroy Bold";
  
}

.button2 {
    background-color: #FFFFFF;
    color: #AAAAAA;
    font-size: 15px;
    margin-left: 72px;
    border: none;
    font-family: "Gilroy Bold";
}

.top__logos {
    padding-top: 97px;
    padding-left: 345px;
    padding-right: 375px;
    display: flex;
    justify-content: space-between;

}