* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Lato', sans-serif;   
}

.site {
    padding-bottom: 60px;
}

.header {
    background-color: #222222;
    display: flex;
}

.logo {
    padding-top: 18px;
    padding-left: 231px;
    padding-bottom: 19px;
}

.magnifier {
    padding-top: 28px;
    padding-left: 41px;
    padding-bottom: 20px;
}

.other {
    padding-top: 30px;
    padding-left: 851px;
    padding-bottom: 22px;
}

.profile {
    padding-top: 26px;
    padding-left: 33px;
    padding-bottom: 20px;
}

.basket {
    padding-top: 26px;
    padding-left: 33px;
    padding-right: 240px;
    padding-bottom: 20px;
}

.top__main {
    background-color: #f1e4e6;
    display: flex;
}

.main__zone {
    display: flex;
}

.rectangle {
    margin-top: 290px;
    margin-bottom: 382px;
    margin-left: 63px;
    width: 12px; 
    height: 92px;
    background-color: #f16d7f;    
}

.main__title {
    font-family: 'Lato', sans-serif;
    padding-top: 290px;
    padding-bottom: 381px;
    padding-left: 16px;
    font-weight: 700;
    padding-right: 331px;
   
}

.main__span {
    font-size: 48px;
    font-weight: 900;   
}

.main__span2 {
    color: #f16d7f;
    font-weight: 700;
    font-size: 32px; 
}

.top__line {
    display: flex;
}

.for__women {
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 230px;
}

.for__men {
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.for__kids {
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 230px;
}

.bottom__line {
    padding-top: 30px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 96px;
}

.desc__title {
    font-family: 'Lato', sans-serif; 
    padding-left: 710px;
    padding-right: 708px;
    padding-bottom: 6px;
    font-weight: 400;
    font-size: 30px;

}

.desc__text {
    font-family: 'Lato', sans-serif; 
    padding-left: 631px;
    padding-right: 633px;
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;
}

.top__products {
    display: flex;
}

.first__product {
    margin-top: 48px;
    margin-left: 230px;
    margin-right: 15px;
    background-color: #f8f8f8;
}

.second__product {
    margin-top: 48px;
    margin-left: 15px;
    padding-right: 15px;
    background-color: #f8f8f8;
}

.third__product {
    margin-top: 48px;
    margin-left: 15px;
    margin-right: 230px;
    background-color: #f8f8f8;
}

.bottom__products {
    display: flex;
}

.fourth__product {
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 230px;
    background-color: #f8f8f8;
}

.fifth__product {
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #f8f8f8;
}

.sixth__product {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 230px;
    background-color: #f8f8f8;
}

.name {
    font-family: 'Lato', sans-serif; 
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 196px;
    font-weight: 400;
    font-size: 13px;
}

.desc {
    font-family: 'Lato', sans-serif;
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 29px;
    font-weight: 300;
    font-size: 14px;
    color:  #5d5d5d;
}

.price {
    font-family: 'Lato', sans-serif;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 24px;
    padding-right: 291px;
    font-weight: 400;
    font-size: 16px;
    color: #f16d7f;
}

.browse__button {
    border-color: #ff6a6a;
    border-width: thin;
    color: #f26376;
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 15px;
    padding-bottom: 14px;
    margin-left: 695px;
    margin-right: 693px;
    margin-top: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: white;
}